# ----------------------------------------------------------
# PRIVATE KEYS AND CERTIFICATES
# ----------------------------------------------------------

organizations/ordererOrganizations/
organizations/peerOrganizations/
organizations/fabric-ca/

# organizations/ folder
organizations/

# ----------------------------------------------------------
# 🧱 CHANNEL ARTIFACTS
# ----------------------------------------------------------
channel-artifacts/
configtx/*.pb
configtx/*.block
configtx/*.tx
vendor/
# Docker build artifacts
*.tar.gz

# Docker internal volumes (peer/orderer ledger + state)
peer0.union.gov/
orderer.union.gov/
ca.union.gov/
*/production/

# ----------------------------------------------------------
# FABRIC BINARIES
# ----------------------------------------------------------
bin/
fabric-samples/
crypto-config/
config/
chaincode/transfer/vendor/

# ----------------------------------------------------------
# CHAINCODE BUILD OUTPUTS (Golang)
# ----------------------------------------------------------
chaincode/**/build/

# ----------------------------------------------------------
#  SCRIPTS AND LOCAL CONFIG
# ----------------------------------------------------------
*.log
*.tmp
.env